.apresentacao{
    background-color: #ffff;
    display: flex;

  

}
.btn1{
    background-color: #00416B;
    color: #f9f3ea;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    font-family: 'Lexend', sans-serif;
}
.carta .btn2{
    background-color: #9A4956;
    border-color: #9A4956;
    color: #f9f3ea;
    border-radius: 10px;
}
.bg-bege{
    background-color: #f9f3ea;
}
.mediaSocial{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00416B;
}
.butao{
    background-color: #ff848c;
    color: white;
    padding-bottom: -20px;
}
.b2{
    background-color: #276B05;
    color: white;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    font-family: 'Lexend', sans-serif;
}
@media(min-width: 800px){
    .primeiralogo{
    
        position: absolute;
        width: 30%;
        right: 120px;
        justify-content: center;
    }
    .b2{
        
    }
    .primeiralogo img{
        width: 120%;
        margin-right: 50px;
    }
    .alinhar {
        margin-top: 200px;
    }
    .primeiralogo img{
        display: flex;
        justify-content: end;
    
        flex-grow: 1
    }
    .segundalogo{
        
        display: inline-flex;
    
        text-align: center;
        justify-content: center;
        
        
        width: 50%;
        font-family: 'Oxygen', sans-serif;
        color: #00416B;
    }
    .cards {
        display: flex;
        justify-content: space-between;
        padding: 80px;
        background-color: #f9f3ea;
    }
    .imgApresenta{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        width: 50%;
        background-color: #00416B;
    }
    .apresentacao{
        background-color: #f9f3ea ;
        display: flex;
        flex-direction: column;
       
        text-align: start;
        min-height: 100vh;
     justify-content: center;
     margin-top: -150px;
    }
    .txt-intro{
        display: flex;
        color: #00416B;
        font-family: 'Lexend', sans-serif;
        justify-content: space-between;
    }
    .livia{
        padding: 20px;
        max-width: 50vw;
    }
    .gabriela{
        padding: 20px;
        text-align: end;
        align-items: stretch;
        max-width: 50vw;
    }
    .txt-intro h2{
        color: #9A4956;
    }
    #error404{
  
        position: absolute;
        width: 30%;
        right: 20px;
    }
    
    .txtApresent{
        text-align: start;
        padding: 0% 10% 0 10%;
        font-family: 'Lexend', sans-serif;
  
        width: 50%;
        color: #00416B;
    }
    
    .img-menins{
        margin: 80px 10%;
        background-color: #f9f3ea;
    }
    .segundalogo h1{ 
        
        color: #00416B;
        font-family: 'Lexend', sans-serif;
        
  
    }
   
    .segundalogo p{ padding: 20px ;
        color:#F0FDFD;

    }
    .txt-p{
        display: flex;
        text-align: center;
        flex-direction: column;
        color: #00416B;
            margin: 0 30px 30px 30px;
        font-family: 'Lexend', sans-serif;
    }
    .txt-p1{

        text-align: center;
    
        color: #9A4956;
        font-weight: 700;
    
    }
}
@media(max-width: 800px){
    .primeiralogo{
        display: flex;
        justify-content: center;
       
    }
    .apresentacao{
        flex-direction: column;
        background-color: #f9f3ea ;
    }
    .primeiralogo img{
        width: 100%;
        justify-content: center;
        margin-top: -50px;
     
    }  .segundalogo{
        display: flex;

      justify-content: center;
        text-align: center;
        font-family: 'Lexend', sans-serif;
       color:#00416B;
        
    }
    
    .segundalogo h1{ 
        color:#00416B;
        font-family: 'Lexend', sans-serif;
        font-size: 20pt;
 
  
    }
    .txtApresent{
        text-align: center;
     
        font-family: 'Lexend', sans-serif;
        font-size: 20pt;
        padding: 10px;
        
        color: #00416B;
    }
    .segundalogo p{ padding: 20px ;
        color: #00416B;
 
    }
    .txt-intro{
        display: flex;
        color: #00416B;
        align-items: stretch;
        font-family: 'Lexend', sans-serif;
        justify-content: space-between;
    }
    .txt-intro h2{
        color: #9A4956;
    }
    .livia{
     max-width: 50vw;
    }
    .gabriela{
        
        text-align: end;
        max-width: 50vw;
    }
    #error404{
  
      display: none;
    }
    .txt-p{
        display: flex;
        text-align: center;
        flex-direction: column;
        color: #00416B;
   
        font-family: 'Lexend', sans-serif;
    }
    .txt-p1{

        text-align: center;
        
        color: #9A4956;
        font-weight: 500;
    
    }
}