.apresentacao{
    background-color: #ebecec;
    display: flex;

    flex-direction: column;
    height: 100vh;
}
.btn1{
    background-color: #00416B;
    color: #f9f3ea;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    font-family: 'Lexend', sans-serif;
}
.carta .btn2{
    background-color: #9A4956;
    border-color: #9A4956;
    color: #ebecec;
    border-radius: 10px;
}
.bg-bege{
    background-color: #ebecec;
}
.mediaSocial{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00416B;
}
.butao{
    background-color: #ff848c;
    color: white;
    padding-bottom: -20px;
}
.b2{
    background-color: #276B05;
    color: white;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    font-family: 'Lexend', sans-serif;
}
@media(min-width: 800px){
    .primeiralogo{
    
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    .primeiralogo img{
        display: flex;
        justify-content: center;
    
        flex-grow: 1
    }
    .segundotxt{
        
        display: inline-flex;
    
        text-align: center;
        justify-content: center;
        
        
        font-weight: 100;
        font-family: 'Lexend', sans-serif;
        color: #00416B;
    }
    .cards {
        display: flex;
        justify-content: space-between;
        padding: 80px;
        background-color: #ebecec;
    }
    .imgApresenta{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        width: 50%;
        background-color: #ebecec;
    }
    .apresentacao{
        background-color: #ebecec ;
        display: flex;
        flex-direction: column;
        text-align: start;
        height: 100vh;
        justify-content: center;
    }
    .txt-intro{
        display: flex;
        color: #00416B;
        font-family: 'Lexend', sans-serif;
        justify-content: space-between;
    }
    .livia{
        display: flex;
        padding: 20px;
        max-width: 40vw;
        flex-direction: column;
        justify-content: center;
    }
    .livia img{
        max-width: 200px;
        border: 10px #9A4956;
        display: flex;
        justify-content: center;
    }
    .gabriela{
        padding: 20px;
        text-align: end;
        align-items: stretch;
        max-width: 40vw;
    }
    .gabriela img{
        max-width: 200px;
     
    }
    .txt-intro h2{
        color: #9A4956;
    }
    #error404{
  
        position: absolute;
        width: 30%;
        right: 20px;
    }
    
    .txtApresent{
        text-align: start;
        padding: 0% 10% 0 10%;
        font-family: 'Lexend', sans-serif;
  
        width: 50%;
        color: #00416B;
    }
    
    .img-menins{
        margin: 80px 10%;
        background-color: #ebecec;
    }
    .segundalogo h1{ 
        
        color: #00416B;
        font-family: 'Lexend', sans-serif;
        
  
    }
   
    .segundalogo p{ padding: 20px ;
        color:#F0FDFD;

    }
    
    .txt-p{
        display: flex;
        text-align: justify;
        flex-direction: column;
        color: #00416B;
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        font-family: 'Lexend', sans-serif;
    }

    .txt-p h1{
        display: flex;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        justify-content: center;
        color: #00416B;
        font-family: 'Antonio', sans-serif;
    }
    .txt-p h4{
        display: flex;
        text-align: justify;
        justify-content: center;
        align-items: center;
        margin: 50px;
        color: #00416B;
        font-family: 'Lexend', sans-serif;
    }
    .txt-p h6{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 10px;
        color: #00416B;
        font-family: 'Lexend', sans-serif;
    }
    .txt-p1{
        display: flex;
        text-align: center;
    
        color: #9A4956;
        font-weight: 700;
    
    }
    .icon-carta{
        background-color: #9A4956;
        width: 80px;
        color: white;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
    }
    .carta-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        max-width: 250px;
        width: 100vw;
        font-family: 'Antonio', sans-serif;
    }
    .carta-wrapper h4{
     
        color: #00416B;
    
        font-family: 'Antonio', sans-serif;
    }
    .carta{
        margin-top: 40px;
        display: flex;
        flex-direction: inline;
        flex-wrap: wrap;
    }
}






@media(max-width: 800px){
    .primeiralogo{
    
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    .segundotxt{
        
        display: inline-flex;
    
        text-align: center;
        justify-content: center;
        
        
        font-weight: 100;
        font-family: 'Lexend', sans-serif;
        color: #00416B;
    }
    .primeiralogo img{
        width: 100%;
        justify-content: center;
        margin-top: -50px;
     
    }    .apresentacao{
        background-color: #ebecec ;
        display: flex;
        flex-direction: column;
       
        text-align: start;
        height: 100vh;
     justify-content: center;
   
    }
    
    .segundalogo h1{ 
        color:#00416B;
        font-family: 'Lexend', sans-serif;
        font-size: 20pt;
 
  
    }
    .txtApresent{
        text-align: center;
     
        font-family: 'Lexend', sans-serif;
        font-size: 20pt;
        padding: 10px;
        
        color: #00416B;
    }
    .segundalogo p{ padding: 20px ;
        color: #00416B;
 
    }
    .txt-p h1{
        display: flex;
        text-align: center;
        flex-direction: column;
        color: #00416B;
        font-family: 'Antonio', sans-serif;
    }
    
    .txt-p h4{
        display: flex;
        text-align: center;
        flex-direction: column;
        margin: 20px;
        color: #00416B;
        font-family: 'Lexend', sans-serif;
    }
    .txt-intro{
        display: flex;
        color: #00416B;
        align-items: stretch;
        font-family: 'Lexend', sans-serif;
        justify-content: space-between;
    }
    .txt-intro h2{
        color: #9A4956;
    }
    .livia{
     max-width: 50vw;
    }
    .livia img{
        max-width: 40vw;
        border: 10px #9A4956;
        display: flex;
        justify-content: center;
    }
    .gabriela{
        
        text-align: end;
        max-width: 50vw;
    }
    .gabriela img{
        max-width: 40vw;
        border: 10px #9A4956;
     
    }
    #error404{
  
      display: none;
    }
    .txt-p{
        display: flex;
        text-align: justify;
        flex-direction: column;
        color: #00416B;
        
        font-family: 'Lexend', sans-serif;
    }
    .txt-p1{

        text-align: center;
        
        color: #9A4956;
        font-weight: 500;
    
    }
 
    .icon-carta{
        background-color: #9A4956;
        width: 60px;
        color: white;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
    }
    .icon-carta svg{
   
        width: 40px;
        color: white;
        height: 40px;
       
    }
    .carta-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        max-width: 100px;
        width: 100vw;
        font-family: 'Antonio', sans-serif;
    }
    .carta-wrapper h4{
     
        color: #00416B;
        font-size: 10pt;    
        font-family: 'Antonio', sans-serif;
    }
    .carta{
        margin-top: 40px;
        display: flex;
        flex-direction: inline;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}