.bg-azul {
    background-color:  #f9f3ea;
    font-style: #000;
}

.navbar-dark{
    color:  #00416B !important;
}
.nav-link{
   

}
@media (min-width: 800px) {
    .logoHeader {
        height: 100px
    };
    .navls{
        width: 800px;
        font-weight: 800;
    };
    .logoh{
        justify-content: start;
    }
    .logoh2{
        justify-content: space-around;
    }
    .Header-l{
        color:  #00416B ;
    }
}
@media (max-width: 800px) {
    .logoHeader {
        width: 100px;
    }
}