.tituloesub{
    
  width: 75%;
    margin-left: auto;
    margin-right: auto;
  
    margin-top: -50px;
    font-family: 'Lexend', sans-serif;}
    .bg-azuli{
        color: #00416B;
      
    }
    .geral{
        background-color: #f9f3ea
    }
    .txtArtigo{
        color: #00416B;
        font-size: 15pt;
    }
    .txtArtigo h1{
        font-size: 30pt;
    }
    .txtArtigo h4{
        color: ;
        font-size: 30pt;
    }